* {
    margin: 0px;
    padding: 0px;
}
html {
    overflow: hidden;
}

body {
    background-image: url(https://i.pinimg.com/originals/cb/10/50/cb105083088ff204f34a402086fe0328.jpg) ;
    background-size: cover;
    display: flex;
}

.div1-main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1-main button {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(255, 0, 179);
    border-radius: 20%;
    color: white;
    border-color: white;
    cursor: pointer;
    animation: pulse 3.5s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); 
    }
    100% {
      transform: scale(1); 
    }
  }

  .div2-main{
    color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .div2-main h1 {
    margin: auto;
    position: relative;
    top: 27vh; 
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-shadow: 2px 3px 0 rgb(255, 0, 179);
  }


  
